h1, h2, h3, h4, h5, p {
    font-family: helvetica;
    color: #333333;
  }
  .description {
    font-size: 14px;
    color: #e9e5e5;
  }
  .awful-selfie{
    background: url(../img/bg.jpg);
    width: 300px;
    height: 300px;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

#balancewidget {
  padding: 1em;
  background-color: #000000;
  margin-bottom: 10px;
}

  .hudText {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    color: #A9D26A;
  }

  button {
    background-color: #3e3e3e;
    border-radius: 15px;
    color: #A9D26A;
  }

  #namiBtn {
    font-size: 2em;
  }

.cover-container {
  padding: 1em;
  color: #e9e5e5;
}

.inner-cover h1, .inner-cover h2, .inner-cover h3, .inner-cover p {
  color: #e9e5e5;
}

.site-wrapper-inner {
  background-color: #FAEBD7;
}


#webpack-dev-server-client-overlay {
  width: 30vw !important;
}

#walletInfoBox_assets {
  vertical-align: text-bottom;
}

.linkerButton {
  background-color: #8080FF;
  padding: 1em;
  margin-left:10px;
  color: #000000;
}

.linkerButton-connected {
  background-color: #00FF00 !important;
  padding: 1em;
  margin-left:10px;
  color: #000000;
}

.inner-cover {
  background-color:#2D2A2D;
  border-radius: 1em;
}